@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&display=swap');

body {background-color: #fffeb8}

.piedepagina {width: 100%;
background-color: #ff304f
 }
 .piedepagina .grupo1 {width: 100%;
 max-width: 1200px;
margin: auto;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap:50px;
padding: 45px 0px; }
 .piedepagina .grupo1 .box figure {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .piedepagina .grupo1 .box figure img {
   width: 250px;
 }

.piedepagina .grupo1 .box h2 {
color: #f9ff21;
margin-bottom: 25px;
font-size: 20px}
.piedepagina .grupo1 .box p {
  color:#ffd615 ;
  margin-bottom: 10px;
}

.piedepagina .grupo1 .redsocial a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #f9ff21;
  margin-right: 10px;
  background-color: #d72323;
  text-align: center;
  transition: all 300ms ease;
}
.piedepagina .grupo1 .redsocial a:hover{
  color: #00fff0
}
.piedepagina .grupo2{
background-color: #071e3d;
padding: 15px 10px;
text-align: center;
color: #fff;}
.piedepagina .grupo2 small{ font-size: 15px}

@media screen and (max width:800px){
  .piedepagina .grupo1 {width: 90%;
 grid-template-columns: repeat(1, 1fr);
 grid-gap:30px;
 padding: 35px 0px; }
}

.somos {background-color: #ffffff }

 .carousel-inner {
   max-height: 39rem
 }

 #img-papa{
    max-height:30rem ;
    width:30%;
}

 #local {
     margin-top:50px;
     background-color: #f3f3f3;
     display:flex;
     justify-content: center;
     padding-bottom: 300px;
 }

 .mapa {
    ;
     width:100%;
     height:500px;
 }


 .wrapper-local {
     width:50%;
     margin-left:100px;
     padding-top:150px;
 }

 #contenedor-formulario{
     position: absolute;
     top:30%;
     left:50%;
     transform: translate(-50%, -50%);
     background: #b4f1f1;
     border-radius:5px;

 }

 #titulo-formulario {
     color: #000000;
 }
